REVIEW_HOST=127.0.0.1
REVIEW_PORT=8091
REVIEW_DB_PATH=/var/lib/chatcommons-review/reviews.sqlite3
REVIEW_SCREENSHOT_DIR=/var/lib/chatcommons-review/screenshots
REVIEW_ALLOWED_ORIGIN=https://www.keyanruanjian.com
REVIEW_TOKEN=
OWNER_TOKEN=
